@page
@model Cookie_Realization.Pages.Index1Model
@{
}

<h1>Human Resourses BRO!!!</h1>
<br/>
<table class="table tabble-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp C</th>
            <th>Temp F</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.weatherForecastItems)
        {
           <tr>
            <td>@item.Date.ToLongDateString()</td>
            <td>@item.TemperatureC</td>
            <td>@item.TemperatureF</td>
            <td>@item.Summary</td>
           </tr>       
        }
     <tbody/>
</table>